@import 'sizes.scss';

.cases {
  margin: 6rem auto 0;

  @media (min-width: $xl) {
    margin: 12rem auto;
    max-width: 88vw;
  }
}

.title {
  font-size: max(3vw, 30px);
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: column;

  @media (min-width: $l) {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 12vw;
  }

  .wide {
    flex: 3;
  }

  .tall {
    flex: 2;
  }
}

.first .wide,
.second .tall {
  margin-right: 12vw;
}

@media (max-width: $l) {
  .case {
    display: block;
    margin-bottom: 6rem;
  }

  .first {
    .wide {
      margin-right: 15vw;
    }

    .tall {
      margin-left: 25vw;
    }
  }

  .second {
    flex-direction: column-reverse;

    .wide {
      margin-right: 15vw;
    }

    .tall {
      margin-left: 25vw;
      margin-right: 0;
    }
  }
}

.info {
  align-items: flex-start;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  p,
  span {
    align-items: flex-start;
    display: flex;
    line-height: 1;
    margin: 0;
  }

  span {
    font-size: 1.25em;
  }
}

.info p::before {
  background-color: var(--white);
  border-radius: 4px;
  content: '';
  display: block;
  height: 8px;
  margin-right: 2rem;
  margin-top: 4px;
  width: 8px;
}

// case pages styling //
.page {
  margin: 0 auto;

  @media (min-width: $xl) {
    max-width: 88vw;
  }
}

.upper {
  padding: 6rem 0 3rem;

  @media (min-width: $xl) {
    padding: 12rem 0 6rem;
  }
}

.titleWrapper {
  overflow: hidden;
}

.pageTitel {
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  opacity: 0;
}

.infoBox {
  display: block;

  @media (min-width: $xl) {
    align-items: flex-start;
    display: flex;
  }

  .firstColumn {
    border-top: 1px solid black;
    display: flex;
    flex: 2;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;

    @media (min-width: $xl) {
      margin-right: 3rem;
    }
  }

  .lastColumn {
    border-top: 1px solid black;
    flex: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;

    p {
      line-height: 1.2;
      margin: 0;
    }
  }
}

.infoBox .firstColumn ul {
  line-height: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;

  .webLink {
    align-items: flex-start;
    display: flex;

    &:hover {
      color: var(--red);
    }

    span {
      margin-right: 0.25rem;
    }
  }
}

// title sizes //
.danielTitel {
  font-size: max(12.1vw);

  @media (min-width: $l) {
    font-size: max(11.3vw);
  }
}

.twelveInchTitel {
  font-size: max(13vw);

  @media (min-width: $l) {
    font-size: max(13.8vw);
  }
}
