@import 'sizes.scss';

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 80vw;
  height: 100%;

  canvas {
    pointer-events: none;
  }

  @media (min-width: $xl) {
    height: 100%;
  }
}

.basicPlane {
  height: 54vh;
  left: 50%;
  position: relative;
  pointer-events: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vh;

  @media (min-width: $l) {
    height: 48vw;
    width: 36vw;
  }
}

.basicPlane img {
  display: none;
}
