@import 'sizes.scss';

.curtains-canvas {
  height: 90vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 80vw;

  canvas {
    pointer-events: none;
  }

  @media (min-width: $l) {
    height: 62vw;
  }
}

.basicPlane {
  height: 60vh;
  left: 50%;
  position: relative;
  pointer-events: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 78vw;

  @media (min-width: $s) {
    height: 62vh;
    width: 62vw;
  }

  @media (min-width: $l) {
    height: 48vw;
    width: 36vw;
  }
}

.basicPlane img {
  display: none;
}
