@import 'sizes.scss';

.main {
  position: relative;

  h2 {
    font-weight: normal;
    font-size: 1.1em;

    @media (min-width: $xl) {
      font-size: 1.2em;
    }
  }
}

.inner {
  margin: 0 auto;
  padding: 6rem 3vw 12rem;

  @media (min-width: $xl) {
    max-width: 88vw;
    padding: 6rem 0 12rem;
  }
}

.list {
  font-size: 1.73em;
  font-weight: bold;
  list-style-type: none;
  line-height: 0.9;
  margin: 1rem 0;
  padding: 0;

  @media (min-width: $xl) {
    font-size: 5em;
  }

  .mail {
    text-decoration: underline;
  }

  a:hover {
    color: var(--red);
  }
}

.address {
  margin-top: 3rem;
}
