@import 'sizes.scss';

.heroWrapper {
  height: 86vh;
  position: relative;
  width: 100%;

  @media (min-width: $l) {
    height: 62vw;
  }

  @media (min-width: $xxl) {
    height: 100vh;
    max-height: 62vw;
  }

  &::after {
    bottom: 0;
    border-bottom: 1px solid var(--red);
    content: '';
    display: none;
    left: 0;
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: 99;
  }
}

.nameWrapper {
  font-size: 11.5vw;
  font-weight: bold;
  left: 50%;
  line-height: 1;
  overflow: hidden;
  //mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;

  @media (min-width: $l) {
    font-size: 8vw;
  }
}

.name {
  display: block;
  opacity: 0;
}

.videoWrapper {
  height: 60vh;
  left: 50%;
  position: relative;
  pointer-events: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 79vw;
  z-index: 1;

  @media (min-width: $s) {
    height: 62vh;
    width: 62vw;
  }

  @media (min-width: $l) {
    height: 50vw;
    width: 34vw;
  }
}

.planeWrapper {
  height: 86vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  @media (min-width: $l) {
    height: 62vw;
  }
}

.whatWeDo {
  font-size: 1.1em;
  left: 0;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(34vw);
  z-index: 4;
  width: 100%;
  display: none;

  @media (min-width: $xl) {
    font-size: 1.1em;
    transform: translateY(20vw);
  }
}
