@import 'sizes.scss';

.services,
.references {
  margin: 6rem auto;
  position: relative;

  @media (min-width: $xl) {
    max-width: 88vw;
  }

  h2 {
    font-weight: normal;
    font-size: 1.1em;

    @media (min-width: $xl) {
      font-size: 1.2em;
    }
  }

  .list {
    list-style-type: none;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 0.9;
    margin: 1rem 0;
    padding: 0;

    @media (min-width: $xl) {
      font-size: 5em;
    }

    li a {
      align-items: flex-start;
      display: flex;
      margin-bottom: 0.5rem;
      text-transform: uppercase;

      span {
        margin-right: 0.25rem;
      }
    }
  }
}

.services a:hover {
  color: var(--red)
}

.client {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  .year {
    font-size: 0.3em;
    font-weight: normal;
    margin-left: 0.5rem;
  }
}
